.cardsContainer {
    .vignette-cards-row {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;

        .vignette-cards-item {
            background-color: #00a3ff;
            cursor: pointer;
        }
    }
    .vignette-select-wrapper {
        select {
            color: #fff;
            option {
                color: #000;
            }
        }
    }
}
